<div class="login-component d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 login-fields">
                <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="reset(forgotPasswordForm)" class="paragraph-regular">
                    <div class="text-center">
                        <img src="../../../assets/images/brand/esub-logo-40.png"/>
                    </div>
                    <p class="login-description text-center">Please enter your email to reset your password.</p>
                    <div class="form-inputs reset-email-field">
                        <md-input-container class="full-width">
                            <input id="txtEmail" name="email" type="text" mdInput placeholder="Enter email" formControlName="email">
                        </md-input-container>
                    </div>
                    <div class="form-error text-center">
                        <span id="errorMessage" *ngIf="forgotPasswordForm.invalid && !forgotPasswordForm.pristine">{{errorMessage}}</span>
                    </div>
                    <button id="btnLogin" type="submit" class="btn btn-primary btn-block btn-lg text-center"
                            [ngClass]="{ 'btn-enabled': !forgotPasswordForm.invalid }"
                            [disabled]="forgotPasswordForm.pristine || forgotPasswordForm.invalid" >
                        <div *ngIf="!loading" class="login-button-text">Reset Password</div>
                        <div *ngIf="loading" class="login-button-spinner">
                            <md-progress-spinner
                                class="example-margin"
                                [color]="'primary'"
                                [mode]="'indeterminate'"
                                strokeWidth="16">
                            </md-progress-spinner>
                        </div>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center login-links">
                <a routerLink="/login" >Back to login</a>
            </div>
        </div>
    </div>
</div>
