
esub-app-sidenav-menu {

  // menu
  ul {
    padding-top: 8px;

    // links
    li {
      padding: 4px 0;

      // active link
      &.active > a {
        background-color: $white !important;
        color: $black !important;
      }

      .mat-button-wrapper {

        // label
        span {
          @extend .nav-link;
        }

        // icon
        i {
          font-size: 22px;
          color: $black !important;
        }
      }

      > i {
        cursor: pointer;
      }

      // open sub menu
      &.open {

        ul > li:nth-child(odd) {
          background-color: $sub-nav-link-odd;
        }
        ul > li:nth-child(even) {
          background-color: $sub-nav-link-even;
        }

        > .icon-has-ul {
          color: $black !important;
        }
      }
    }
  }
}
