<div class="container-fluid enter-time">

    <div class="esub-card no-hover" *ngIf="accordionOpen">

        <div class="close-icon accent-light" *ngIf="groupedLines"><i class="material-icons" (click)="accordionOpen = false">keyboard_arrow_up</i><span>collapse</span></div>

        <md-select placeholder="Project" [ngModel]="linesToAdd.project" (ngModelChange)="projectChanged($event)">
            <md-option *ngFor="let project of projects" [value]="project">{{project.name}}</md-option>
        </md-select>

        <md-select placeholder="Cost Code" [(ngModel)]="linesToAdd.costCode">
            <md-option *ngFor="let costCode of costCodes" [value]="costCode">{{costCode.name}}</md-option>
        </md-select>

        <md-select placeholder="System" [(ngModel)]="linesToAdd.system">
            <md-option *ngFor="let system of systems" [value]="system">{{system.name}}</md-option>
        </md-select>

        <md-select placeholder="Phase" [(ngModel)]="linesToAdd.phase">
            <md-option *ngFor="let phase of phases" [value]="phase">{{phase.name}}</md-option>
        </md-select>

        <div class="row">
            <div class="col-md-10">
                <md-select class="employee-select" placeholder="Employees" [(ngModel)]="linesToAdd.employees" multiple>
                    <md-option *ngFor="let employee of employees" [value]="employee" >{{employee.name}}</md-option>
                </md-select>
            </div>
            <div class="col-md-2 groupings">
                <label>select</label>
                <a (click)="selectAllEmployees()">All</a>
                <a (click)="selectNoneEmployees()">None</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <dp-day-calendar #dayPicker [(ngModel)]="linesToAdd.selectedDates" [config]="dpCalendarConfig" [theme]="'dp-material'"></dp-day-calendar>
            </div>

            <div class="col-md-4">
                <div class="row" *ngFor="let date of linesToAdd.selectedDates">
                    <div class="col-md-6">{{date.format(dateFormat)}}</div>
                    <div class="col-md-1"><i class="material-icons" (click)="removeDate(date)">delete</i></div>
                </div>
            </div>
        </div>

        <div class="row" [ngSwitch]="linesToAdd.project?.timeEntryMethod" class="time-entry-method">
            <div class="col-md-12" *ngSwitchCase="'hoursWorked'">
                <label>Time Entry Method</label> Hours Worked

                <div class="row time-entry">
                    <md-input-container>
                        <input mdInput placeholder="ST" [(ngModel)]="linesToAdd.hoursWorked.st">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="OT" [(ngModel)]="linesToAdd.hoursWorked.ot">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="DT" [(ngModel)]="linesToAdd.hoursWorked.dt">
                    </md-input-container>
                </div>

            </div>
            <div class="col-md-12"  *ngSwitchCase="'timeInTimeOut'">
                <label>Time Entry Method</label> Time In / Time Out

                <div class="row time-entry">
                    <!-- TODO convert these to real time picker fields, saw a few online for angularJS but no good material options for angular  -->
                    <md-input-container>
                        <input mdInput placeholder="Time In" [(ngModel)]="linesToAdd.timeInTimeOut.in">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="Time Out" [(ngModel)]="linesToAdd.timeInTimeOut.out">
                    </md-input-container>
                </div>
            </div>
            <div class="col-md-12" *ngSwitchDefault>
                <label>Time Entry Method</label> Project selection above required
            </div>
        </div>

        <md-input-container>
            <input mdInput placeholder="Comment" [(ngModel)]="linesToAdd.comment">
        </md-input-container>

        <button md-raised-button (click)="addLines()" class="primary" [disabled]="linesToAddCount() === 0">Add {{linesToAddCount()}} Lines</button>

    </div>

    <div class="row add-more" *ngIf="groupedLines">
        <div class="col-md-4">
            <button md-raised-button (click)="accordionOpen = true" *ngIf="!accordionOpen" class="primary">Add More Lines</button>
        </div>
        <div class="col-md-3 groupings">
            <label>Group by</label>

            <a [ngClass]="{active: groupCardsBy == 'Date'}" (click)="updateGrouping('Date')">Date</a>
            <a [ngClass]="{active: groupCardsBy == 'Employee'}" (click)="updateGrouping('Employee')">Employee</a>
            <a [ngClass]="{active: groupCardsBy == 'Project'}" (click)="updateGrouping('Project')">Project</a>
        </div>
        <div class="col-md-5 delete">
            <span (click)="deleteAllLines()">Delete All</span>
        </div>
    </div>

    <div class="esub-card no-hover time-card" *ngFor="let card of groupedLines | keys">
        <div class="time-card-header">

            <div class="row">

                <div class="col-md-6" [ngSwitch]="groupCardsBy">
                    <label>{{groupCardsBy}}</label>
                    <span *ngSwitchCase="'Employee'">{{card.value.Employee?.name}}</span>
                    <span *ngSwitchCase="'Project'">{{card.value.Project?.name}}</span>
                    <span *ngSwitchCase="'Date'">{{card.value.Date?.format(dateFormat)}}</span>
                </div>
                <div class="col-md-6 text-right">
                    <span (click)="deleteGrouping(card.value)">Delete All in Grouping</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>ST Total</label> 0
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Total Hours</label> 0
                </div>
            </div>

        </div>

        <div class="esub-table">

            <div class="table-row">
                <div style="order:1; width:11%" class="table-cell table-header">Date</div>
                <div style="order:2; width:12%" class="table-cell table-header">Employee</div>
                <div style="order:3; width:10%" class="table-cell table-header">Project</div>
                <div style="order:4; width:10%" class="table-cell table-header">CostCode</div>
                <div style="order:5; width:10%" class="table-cell table-header">System</div>
                <div style="order:6; width:10%" class="table-cell table-header">Phase</div>
                <div style="order:7; width:17%" class="table-cell table-header">Time</div>
                <div style="order:8; width:17%" class="table-cell table-header">Comment</div>
                <div style="order:9; width:03%" class="table-cell table-header"></div>
            </div>

            <div class="table-row" *ngFor="let record of card.value">
                <div style="order:1; width:11%" class="table-cell" >{{record.Date.format(dateFormat)}}</div>
                <div style="order:2; width:12%" class="table-cell" >
                    <md-select placeholder="Employee" [(ngModel)]="record.Employee">
                        <md-option *ngFor="let employee of employees" [value]="employee">{{employee.name}}</md-option>
                    </md-select>
                </div>
                <div style="order:3; width:10%" class="table-cell" >
                    <md-select placeholder="Project" [(ngModel)]="record.Project">
                        <md-option *ngFor="let project of projects" [value]="project">{{project.name}}</md-option>
                    </md-select>
                </div>
                <div style="order:4; width:10%" class="table-cell" >
                    <md-select placeholder="CostCode" [(ngModel)]="record.CostCode">
                        <md-option *ngFor="let costCode of costCodes" [value]="costCode">{{costCode.name}}</md-option>
                    </md-select>
                </div>
                <div style="order:5; width:10%" class="table-cell" >
                    <md-select placeholder="System" [(ngModel)]="record.System">
                        <md-option *ngFor="let system of systems" [value]="system">{{system.name}}</md-option>
                    </md-select>
                </div>
                <div style="order:6; width:10%" class="table-cell" >
                    <md-select placeholder="Phase" [(ngModel)]="record.Phase">
                        <md-option *ngFor="let phase of phases" [value]="phase">{{phase.name}}</md-option>
                    </md-select>
                </div>
                <div style="order:7; width:17%" class="table-cell" ></div>
                <div style="order:8; width:17%" class="table-cell" ><input [(ngModel)]="record.Comment"></div>
                <div style="order:9; width:03%" class="table-cell" ><i class="material-icons" (click)="deleteRecord(record)">delete</i></div>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="groupedLines">
        <div class="col-md-12">
            <button md-raised-button class="esub-button secondary" [routerLink]="'/time-expenses/timesheets'" (click)="submitTime()">Submit Time</button>
        </div>
    </div>

</div>
