<div class="container-fluid enter-time">
    <div *ngIf="loading">
        <md-progress-bar
            class="enter-time-progress"
            [color]="progressConfig.color"
            [mode]="progressConfig.mode"
            [value]="progressConfig.value">
        </md-progress-bar>
    </div>
    <div class="enter-time-overlay" *ngIf="loading"></div>
    <div *ngIf="!showGrid" class="enter-time-button-group">
        <div class="copy-last-week-button">
            <button md-raised-button (click)="copyLastWeekTimesheet()" class="primary esub-button">Copy Last Week's Time</button>
        </div>
        <div class="copy-yesterday-button">
            <button md-raised-button (click)="copyYesterdayTimesheet()" class="primary esub-button">Copy Yesterday's Time</button>
        </div>
    </div>
    <div class="esub-card no-hover" *ngIf="!showGrid">

        <esub-enter-time-form (timeEntryComplete)="onTimeEntryComplete($event)"></esub-enter-time-form>

    </div>

    <div *ngIf="showGrid">
        <esub-enter-time-grid (displayGrid)="onDisplayGrid($event)"></esub-enter-time-grid>
    </div>
</div>
