// font builders

@mixin font-stack($size, $weight, $color) {
	@content;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

@mixin roboto-font-stack($size, $weight, $color) {
	@include font-stack($size, $weight, $color) {
		font-family: Roboto;
	}
}

@mixin SFUIText-font-stack($size, $weight, $color) {
	@include font-stack($size, $weight, $color) {
		font-family: SFUIText;
	}
}

// heading defs

h1, .h1 {
	@include roboto-font-stack(16px, 300, $black);
}

h2, .h2 {
	@include roboto-font-stack(12px, 300, $black);
}

h3, .h3 {
	@include roboto-font-stack(10.5px, 300, $black);
}

// title

.title-bold {
	@include roboto-font-stack(16px, bold, $black);
}

.title-reg {
	@include roboto-font-stack(8.5px, normal, $black);
}

.title-light {
	@include roboto-font-stack(8.5px, 300, $black);
}

.small-titles {
	@include roboto-font-stack(6px, bold, $black);
	letter-spacing: 0.2px;
}

.nav-link {
	@include roboto-font-stack(15px, normal, $black);
}

.nav-subtitle {
	@include roboto-font-stack(6px, normal, $true-black);
}

// cell

.cell-title {
	@include roboto-font-stack(8.5px, 500, $true-black);
}

.cell-copy {
	@include roboto-font-stack(7.5px, normal, $gray-20);
}

.cell-subtitle {
	@include roboto-font-stack(7.5px, normal, $black);
}

.cell-description {
	@include SFUIText-font-stack(6.5px, normal, $gray-40);
	letter-spacing: -0px;
}

// comment

.comment-detail {
	@include roboto-font-stack(7px, bold, $warm-grey);
}

// misc

.tab-bar-text {
	@include roboto-font-stack(5px, 500, $black);
	letter-spacing: 0.1px;
}

.calendar-days,
.calendar-days-blocked {
	@include roboto-font-stack(8.5px, bold, $black);
}
