<div class="center-wrapper">
    <div class="center-content">
        <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <span us-spinner spinner-key="login-spinner"></span>
                    <div class="text-center mb15">
                        <img data-ng-src="images/esub-logo-40.png" />
                    </div>
                    <p class="text-center mb30">Welcome to eSUB. Please sign in to your account</p>
                    <div class="form-inputs" (keydown)="loginOnEnter($event)">
                        <input [(ngModel)]="username" type="text" class="form-control input-lg" placeholder="Username">
                        <input [(ngModel)]="password" type="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block btn-lg mb15" (click)="login()">
                        <span>Sign in</span>
                    </button>
                    <!--<p>-->
                        <!--<a ui-sref="esub.public.resetpassword-email">Forgot your password?</a>-->
                    <!--</p>-->
            </div>
        </div>
    </div>
</div>
