
# compiled output
/dist
/dll
.tmp
documentation/index.html
documentation/layout.html

# dependencies
node_modules

# misc
.sass-cache
npm-debug.log

# System Files
.DS_Store
Thumbs.db

# Webstorm
**/.idea/workspace.xml 
**/.idea/tasks.xml