<ul class="nav" esubAccordionNav esubAppendSubmenuIcon esubSlimScroll esubHighlightActiveItems>

  <li>
    <a md-button><i class="nav-icon material-icons">av_timer</i><span class="nav-text">Time &amp; Expenses</span></a>
    <ul>
      <li><a md-button class="md-button prepend-icon"><span>Timesheets</span></a></li>
      <li><a md-button class="md-button prepend-icon"><span>Time Management</span></a></li>
      <li><a md-button class="md-button prepend-icon"><span>Expense Management</span></a></li>
    </ul>
  </li>

  <li *ngFor="let navLink of navigationLinks">
    <a md-button [routerLink]="['/app/trackpoint', navLink.$id]">
      <i *ngIf="navLink.iconName" class="nav-icon material-icons">{{navLink.iconName}}</i>
      <span class="nav-text">{{navLink.Title}}</span>
    </a>
  </li>

</ul>
