<div class="container-fluid time-expenses">

  <div class="row">

    <div class="col-md-6">
      <esub-week-selector (dateChange)="dateChanged($event)"></esub-week-selector>
    </div>

    <div class="col-md-3 groupings">
      <label>Group by</label>

      <a [ngClass]="{active: groupTimesheetsBy == 'employee'}" (click)="groupTimesheets('employee')" id="time-expenses.group-by-employee">Employee</a>
      <a [ngClass]="{active: groupTimesheetsBy == 'project'}" (click)="groupTimesheets('project')" id="time-expenses.group-by-project">Project</a>

      <label>&nbsp;Show</label>

      <a [ngClass]="{active: showFilter == 'all'}" (click)="filterResults('all')" id="time-expenses.filter-to-all">All</a>
      <a [ngClass]="{active: showFilter == 'mine'}" (click)="filterResults('mine')" id="time-expenses.filter-to-mine">Mine</a>
    </div>

    <div class="col-md-3 text-right">
        <button md-raised-button [id]="'btnEnterTime'" class="esub-button secondary" (click)="enterTime()">Enter Time</button>
    </div>

  </div>

  <div class="button-row" [ngSwitch]="view">

    <div *ngSwitchCase="'timesheets'" class="esub-button-group">
    </div>

    <div *ngSwitchCase="'approve-time'" class="esub-button-group">
      <button md-raised-button class="danger">reject</button>
      <button md-raised-button class="success">approve</button>
    </div>

    <div *ngSwitchCase="'export-time'">
      <button md-raised-button class="esub-button secondary">export time</button>
    </div>

  </div>

  <esub-timesheet-card #timesheets [loading]="loading" [view]="view"></esub-timesheet-card>

</div>
