<div class="container-fluids">
    <flash-messages></flash-messages>
</div>
<button md-raised-button [id]="'btnShowModal'" class="esub-button primary" (click)="onTimeRecordClicked()">Time Record Detail</button>

<div class="container-fluid time-expenses">
    <div class="row">

        <div class="col-md-2 groupings">
            <label>Group by</label>

            <a [ngClass]="{active: groupTimesheetsBy == 'employee'}" (click)="groupTimesheets('employee')" id="time-expenses.group-by-employee">Employee</a>
            <a [ngClass]="{active: groupTimesheetsBy == 'project'}" (click)="groupTimesheets('project')" id="time-expenses.group-by-project">Project</a>

            <label>&nbsp;Show</label>

            <a [ngClass]="{active: showFilter == 'all'}" (click)="filterResults('all')" id="time-expenses.filter-to-all">All</a>
            <a [ngClass]="{active: showFilter == 'mine'}" (click)="filterResults('mine')" id="time-expenses.filter-to-mine">Mine</a>
        </div>
        <div class="col-md-6">
            <!-- <flash-messages></flash-messages> -->
        </div>

        <!-- <div class="col-md-3">
            <md-select>Default</md-select>
        </div> -->
    </div>

    <div class="row">
        <div class="offset-md-4"></div>
        <div class="col-md-4">
            <esub-week-selector (dateChange)="dateChanged($event)"></esub-week-selector>

        </div>
    </div>

    <div class="button-row" [ngSwitch]="view">

        <div *ngSwitchCase="'timesheets'" class="esub-button-group">
            <button md-raised-button (click)="newTimesheet()" class="primary">New Timesheet</button>
            <button md-raised-button (click)="copyLastWeekTimesheet()" class="primary">Copy Last Week's Time</button>
            <button md-raised-button (click)="copyYesterdayTimesheet()" class="primary">Copy Last Day's Time</button>
        </div>

        <div *ngSwitchCase="'approve-time'" class="esub-button-group">
            <!-- <button md-raised-button class="danger">reject</button> [(disabled)]="!isSelected" -->
            <div class="offset-md-10"></div>

            <!-- <button md-raised-button class="success" (click)="approve($event)" [(disabled)]="!isSelected" >approve</button> -->
            <div class="col-md-2">
            <button type="button" class="btn btn-success" (click)="approve($event)" [(disabled)]="!isSelected">approve</button>
        </div>
        </div>

        <div *ngSwitchCase="'export-time'">
            <button md-raised-button class="esub-button secondary">export time</button>
        </div>

    </div>

    <esub-timesheet-card #timesheets [loading]="loading" [view]="view" (onDatePicked)="UpdateApprove($event)"></esub-timesheet-card>

</div>
