<esub-base-card *ngIf="timecards.length == 0" class="timesheet-card">
  <div class="row card-title text-center">
    No results found. Please update your filters above.
  </div>
</esub-base-card>

<esub-base-card *ngFor="let timecard of timecards" class="timesheet-card" [loading]="loading">

  <!-- header row -->
  <div class="row">

    <!-- name/project heading area -->
    <div class="col-md-4 card-title">
      {{timecard.cardTitle}}
      <p class="card-subtitle">
        {{timecard.subTitle}}
      </p>
    </div>

    <!-- repeater for each day -->
    <div class="col-md-1 card-day" *ngFor='let day of dateRange'>
      {{day.dayString}}
      <p class="card-date">
        {{day.dateString}}
      </p>
    </div>

  </div>

  <section *ngFor="let section of timecard.sections | keys">

    <!-- project name & hours -->
    <div class="row">
      <div class="col-md-4 card-section">
        {{section.key}}
      </div>
      <div class="col-md-1" *ngFor='let day of dateRange'>
        proj/employee
      </div>
    </div>

    <div *ngFor="let system of section.value | keys">
      <!-- system phase and indicators -->
      <div class="row">
        <div class="col-md-4 card-subsection">
          {{system.key}}
        </div>
        <div class="col-md-1" *ngFor='let day of dateRange'>
          system-phase
        </div>
      </div>

      <!-- cost code and chat boxes -->
      <div class="row" *ngFor="let costCode of system.value | keys">
        <div class="col-md-4 card-section">
          {{costCode.key}}
        </div>
        <div class="col-md-1" *ngFor='let day of dateRange'>
          <i class="material-icons">chat</i>
        </div>
      </div>
    </div>

    <!-- selectors and checkboxes -->
    <div class="row">
      <div class="col-md-4 card-link">
        <div class="row">
          <div class="col-md-4">
            Select All
          </div>
          <div class="col-md-4">
            Unselect All
          </div>
        </div>
      </div>
      <div class="col-md-1" *ngFor='let day of dateRange'>
        <md-checkbox></md-checkbox>
      </div>
    </div>

  </section>

  <!-- footer row -->
  <div class="row hours-total">
    <div class="col-md-4 card-hours">
      46.5 Hours Total
    </div>
    <div class="col-md-1 card-total-hours" *ngFor='let day of dateRange'>
      0
    </div>
  </div>
</esub-base-card>
