<div class="project-selection-card">
    <div class="row">
        <div class="col-md-5">
            <h5>{{project.Number}} - {{project.Name}}</h5>
        </div>
        <div class="col-md-5" (click)="selectProject(project)">
            <!--<div class="row project-data-group">-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-label">RFI</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-label">PO</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-label">COR</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->

                <!--</div>-->
            <!--</div>-->
            <!--<div class="row project-data-group">-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-value">4</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-value">6</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->
                    <!--<span class="data-value">3</span>-->
                <!--</div>-->
                <!--<div class="col-md-3 text-center">-->

                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="col-md-2 text-left">
            <md-select placeholder="Go to">
                <md-option *ngFor="let link of _links" (click)="goToPage(link.route)" >{{ link.name }}</md-option>
            </md-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" (click)="selectProject(project)">
            <span class="label-bold project-status" [ngClass]="getClass(project.Status)">{{project.Status | status | uppercase}}</span>
        </div>
        <div class="col-md-4" (click)="selectProject(project)">

        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" (click)="selectProject(project)">
        <div class="col-md-2">
            <span class="label-bold">Market Area&#58;</span>
        </div>
        <div class="col-md-4">
            <span class="span-value">{{project.MarketArea.Name}}</span>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" (click)="selectProject(project)">
        <div class="col-md-2">
            <span class="label-bold">Division&#58;</span>
        </div>
        <div class="col-md-4">
            <span class="span-value"></span>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" (click)="selectProject(project)">
        <div class="col-md-2">
            <span class="label-bold">Employees&#58;</span>
        </div>
        <div class="col-md-4">
            <span *ngFor="let employee of project.People" class="span-value">{{employee | json}}</span>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row" (click)="selectProject(project)">
        <div class="col-md-2">
            <span class="label-bold">Project Manager&#58;</span>
        </div>
        <div class="col-md-4">
            <span class="span-value" *ngIf="project.ProjectManager">{{project.ProjectManager.Contact.FirstName}} {{project.ProjectManager.Contact.LastName}}</span>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
