<div class="container-fluid time-expenses">

  <div class="row">

    <div class="col-md-8">
      <esub-week-selector (dateChange)="dateChanged($event)"></esub-week-selector>
    </div>

    <div class="col-md-4 groupings">
      <label>Group by</label>
      <a class="active">Employee</a> <a>Project</a>
      <label>Show</label>
      <a class="active">All</a> <a>Mine</a>
    </div>

  </div>

  <div class="button-row" [ngSwitch]="view">

    <div *ngSwitchCase="'timesheets'">
      <button md-raised-button (click)="newTimesheet()">New Timesheet</button>
      <button md-raised-button (click)="copyLastWeekTimesheet()">Copy Last Week's Time</button>
      <button md-raised-button (click)="copyYesterdayTimesheet()">Copy Last Day's Time</button>
    </div>

    <div *ngSwitchCase="'approve-time'">
      <button md-raised-button>reject</button>
      <button md-raised-button>approve</button>
    </div>

    <div *ngSwitchCase="'export-time'">
      <button md-raised-button>export</button>
    </div>

  </div>

  <esub-timesheet-card *ngFor="let timesheet of timesheets" timesheet="timesheet"></esub-timesheet-card>

</div>

<pre style="position:fixed; bottom:0; right:0;" class="well">
  {{view}} | {{fromDate}} -> {{toDate}}
</pre>
