.company-selection {

    .company-selection-card {
        margin: 20px 50px;

        h4 {
            background-color: $gray-20;
            padding: 10px;
        }

        img {
            margin: 20px;
        }
    }
}


