.enter-time-form {

    .mat-input-wrapper {
        margin: 0;
    }

    .form-field{
        padding: 15px 0;
        width: 100%;

        &.notes,
        &.dates {
            font-size: 16px;
        }
    }

    .time-entry-calendar {
        background-color: $true-white;
        position: absolute;
        top: 47px;
        z-index: 999;
    }

    .groupings {

        line-height: 60px;
        vertical-align: middle;
        //> * {
        //    @media(max-width: 1092px) and (min-width: 992px) {
        //        font-size: 10px !important;
        //    }
        //    @media(max-width: 841px) {
        //        font-size: 10px !important;
        //    }
        //}

        @include noselect();

        label {
            @extend .label-light;
        }
        a {
            @extend .label-regular;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    .esub-button-group {
        button {
            width: 100%;
        }
    }
}
