.login-component {
    background-color: $true-white;
    width: 100%;
    height: 100%;

    .login-fields {
        height: 320px;
        margin-top: -100px;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;

        .login-description {
            margin: 20px 0 30px 0;
        }

        .form-inputs {

            .full-width {
                font-size: 16px;
            }
        }

        .form-error {
            color: $tomato;
            height: 40px;

        }

        .reset-email-field {
            padding-top: 28px;
            padding-bottom: 29px;
        }

        button {
            background-color: $gray-30;
            border-color: $gray;
            color: $black;
            cursor: not-allowed;

            &.btn-enabled {
                background-color: $blue;
                border-color: $blue;
                color: $true-white;
                cursor: pointer;
            }

            .login-button-spinner {
                text-align: center;

                md-progress-spinner {
                    width: 25px;
                    height: 25px;
                    margin: auto;
                }

                .mat-progress-spinner path {
                    stroke: $true-white;
                }
            }
        }
    }

    .login-links {
        margin-top: 20px;

        a {
            color: $gray-70;
            text-decoration: none;

            &:hover {
                color: $gray;
            }
        }
    }
}

@media only screen and (max-width: $l_screen_xxs_max) {
    .login-component {
        background-color: $true-white;

        .login-fields {
            margin-left: 15px;
            margin-right: 15px;

            .form-inputs {

                .full-width {
                    font-size: 20px;
                }
            }

            button {
                background-color: $gray-30;
                border-color: $gray;
                color: $black;
                cursor: not-allowed;

                &.btn-enabled {
                    background-color: $blue;
                    border-color: $blue;
                    color: $true-white;
                    cursor: pointer;
                }

                &.btn {
                    line-height: 2;
                }

                .login-button-spinner {
                    text-align: center;

                    md-progress-spinner {
                        width: 40px;
                        height: 40px;
                        margin: auto;
                    }

                    .mat-progress-spinner path {
                        stroke: $true-white;
                    }
                }
            }
        }

        .login-links {
            margin-top: 60px;

            a {
                font-size: 16px;
            }
        }
    }
}
