.notifications {
    height: 190px;
    position: relative;


    .notification-item {

        .row {
            border-bottom: 2px solid $gray-hover;
            height: 65px;
            padding: 10px 25px 20px;

            &:hover {
                background: $gray-hover;
                cursor: pointer;
            }

            .notification-text {

                .notification-title {
                    line-height: 1.1;
                    padding-right: 10px;
                }

                .notification-instruction {
                    line-height: 18px;

                    .accent-bold {
                        color: $gray-accent;
                    }
                }
            }

            .notification-icon {

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}
