
.project-selection-card {
    @extend .esub-card;

    padding: 10px;

    h5 {
        margin-top: 6px;
    }

    .project-data-group {

        .data-label {

        }

        .data-value {
            color: $dark-sky-blue;
        }
    }

    .project-status {

        &.open {
            color: $dark-sky-blue;
        }

        &.won,
        &.complete {
            color: $frog-green;
        }

        &.bid {
            color: $orangey-yellow;
        }

        &.lost {
            color: $tomato;
        }

    }
}
