
.project-selection-card {
    @extend .esub-card;

    padding: 10px;

    h5 {
        margin-top: 6px;
    }

    .project-data-group {

        .data-value {
            color: $dark-sky-blue;
        }
    }

    .project-status {
        color: $true-white;
        font-size: 12px;
        margin-bottom: 10px;

        span {
            border-radius: 15px;
            display: block;
            width: 86px;
            padding: 2px 12px;
            text-align: center;

            &.open {
                background-color: $dark-sky-blue;
            }

            &.won,
            &.complete {
                background-color: $frog-green;
            }

            &.bid {
                background-color: #FF8000;
            }

            &.lost {
                background-color: $tomato;
            }
        }
    }
}
