
.project-selection {

    .project-selection-create {
        padding-top: 20px;

        button.primary {

            width: 200px;
        }
    }

    .project-selection-filter-row {

        margin-top: 10px;
    }

    .project-selection-card {

        padding: 10px;

        h5 {

            margin-top: 6px;
        }
    }
}
