
.project-selection {

    .project-location {
        padding-top: 9px;
    }

    md-button-toggle-group {
        margin-top: 30px;

        md-button-toggle {
            label {
                margin-bottom: 0;
            }
        }
    }

    .project-selection-search {
        display: inline-block;
        margin-top: 30px;
        width: 100%;

        md-icon {
            color: $warm-grey;
        }

        .mat-input-infix {
            top: 2px;

            input {
                margin-left: 10px;
            }
        }

        .mat-input-placeholder {
            margin-left: 10px;
        }
    }

    .project-sort {
        padding-top: 45px;

        a {
            cursor: pointer;
            display: inline-block;
            font-weight: normal;
            padding-left: 10px;
            text-align: left;
            width: 95px;

            &:not([href]):not([tabindex]) {
                color: $warm-grey;

                &:hover {
                    color: $dark-sky-blue;
                }

                &.active {
                    color: $dark-sky-blue;
                    font-weight: bold;
                }
            }

            i.sort-icon {
                font-size: 20px;
                position: relative;
                top: 5px;
            }
        }

    }

    .project-selection-create {
        padding-top: 25px;

        button.secondary {
            height: 44px;
            width: 100%;
        }
    }

    .project-selection-filter-row {
        margin-top: 10px;
    }

}
