.time-expenses {
  padding-top: 30px;

  .groupings {

    @include noselect();

    label {
      @extend .label-light;
    }
    a {
      @extend .label-reg;
      cursor: pointer;
    }

    > .active,
    > .active:hover {
      text-decoration: underline;
      cursor: default;
    }
  }

  .button-row {
    padding-top: 15px;

    button {
      @extend .title-light;
      background-color: $white;
      padding: 6px 16px;
      margin: 0 12px;
    }
  }
}


// the card itself
.timesheet-card {
  @extend .esub-card;
}
