<div class="enter-time-form">
    <form [formGroup]="enterTimeForm" (ngSubmit)="createLines(enterTimeForm)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Project" formControlName="project">
                    <md-option *ngFor="let project of projects" [value]="project">{{project.Number}} - {{project.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row" *ngIf="systems.length > 1">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="System" formControlName="system">
                    <md-option *ngFor="let system of systems" [value]="system">{{system.Number}} - {{system.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row" *ngIf="phases.length > 1">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Phase" formControlName="phase">
                    <md-option *ngFor="let phase of phases" [value]="phase">{{phase.Number}} - {{phase.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Cost Code" formControlName="costCode">
                    <md-option *ngFor="let costCode of costCodes" [value]="costCode">{{costCode.Code}} - {{costCode.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <md-select class="employee-select form-field" placeholder="Employees" formControlName="employees" multiple
                           #select="mdSelect">
                    <md-option *ngFor="let employee of employees" [value]="employee" >{{employee.Number}} - {{employee.FullName}}</md-option>
                </md-select>
            </div>
            <div class="col-md-2 groupings">
                <label>select</label>
                <a (click)="selectAllEmployees()">All</a>
                <a (click)="selectNoneEmployees()">None</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                <div esubCloseDateFlyout>
                    <md-input-container class="form-field dates">
                        <md-placeholder>
                            <span class="enter-time-date-placeholder">Dates</span> <i class="material-icons">date_range</i>
                        </md-placeholder>
                        <input mdInput id="txtDates" formControlName="dates" (focus)="onFocus($event)" (keydown)="clearKeystroke($event)">
                    </md-input-container>
                    <esub-daypicker-flyout [daypickerConfig]="dpDatepickerConfig" [selectedDates]="selectedDates"
                                           (selectedDatesChange)="onDatesChanged($event)" ></esub-daypicker-flyout>
                </div>
            </div>
        </div>

        <div class="row" class="time-entry-method" [ngSwitch]="timeEntryMode">
            <div class="col-md-12" *ngSwitchCase="timeEntryModeEnum.Hours">
                <span class="label-bold">Hours Worked</span>

                <div class="row time-entry form-field">
                    <md-input-container>
                        <input mdInput placeholder="ST" formControlName="standardHours">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="OT" formControlName="overtimeHours">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="DT" formControlName="doubleTimeHours">
                    </md-input-container>
                </div>

            </div>
            <div class="col-md-12" *ngSwitchCase="timeEntryModeEnum.TimeInTimeOut">
                <div class="row form-field">
                    <div class="col-md-2">
                        <span class="label-bold">Time In</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="time.In" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Time Out</span>
                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="time.Out" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2 offset-1">
                        <span class="label-bold">Break Time In</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="time.BreakIn" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Break Time Out</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="time.BreakOut" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <md-input-container class="notes form-field">
                    <input mdInput placeholder="Notes" formControlName="notes">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 esub-button-group">
                <button md-raised-button type="submit" class="secondary" [disabled]="enterTimeForm.invalid">Create {{linesToAddCount()}} time entries</button>
            </div>
        </div>

    </form>

</div>
