<md-checkbox [(ngModel)]="isTimeIn" (checked)="changeTimeInTimeOut()">Use Time In/Time Out to enter time</md-checkbox>
<div class="enter-time-form">
    <form [formGroup]="enterTimeForm" (ngSubmit)="createLines(enterTimeForm)" novalidate>
        <div class="row mb-2">
            <div class="col-md-12">
                <md-input-container class="form-field">
                    <input type="text" mdInput placeholder="Project" formControlName="project" [mdAutocomplete]="autoProject"
                            (focus)="openProjects()" >
                </md-input-container>
                <md-autocomplete #autoProject="mdAutocomplete" [displayWith]="displayFormatted">
                    <md-option *ngFor="let project of filteredProjects | async" (onSelectionChange)="projectSelected($event)"
                               [value]="project">
                        {{project.Number}} - {{project.Name}}
                    </md-option>
                </md-autocomplete>
            </div>
        </div>

        <div class="row mb-2" *ngIf="systems.length > 1">
            <div class="col-md-12">
                <md-input-container class="form-field">
                    <input type="text" mdInput placeholder="System" formControlName="system" [mdAutocomplete]="autoSystem"
                           (focus)="openSystems()" >
                </md-input-container>
                <md-autocomplete #autoSystem="mdAutocomplete" [displayWith]="displayFormatted">
                    <md-option *ngFor="let system of filteredSystems | async" (onSelectionChange)="systemSelected($event)"
                               [value]="system">
                        {{system.Number}} - {{system.Name}}
                    </md-option>
                </md-autocomplete>
            </div>
        </div>

        <div class="row mb-2" *ngIf="phases.length > 1">
            <div class="col-md-12">
                <md-input-container class="form-field">
                    <input type="text" mdInput placeholder="Phase" formControlName="phase" [mdAutocomplete]="autoPhase"
                           (focus)="openPhases()" >
                </md-input-container>
                <md-autocomplete #autoPhase="mdAutocomplete" [displayWith]="displayFormatted">
                    <md-option *ngFor="let phase of filteredPhases | async" (onSelectionChange)="phaseSelected($event)"
                               [value]="phase">
                        {{phase.Number}} - {{phase.Name}}
                    </md-option>
                </md-autocomplete>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <md-input-container class="form-field">
                    <input type="text" mdInput placeholder="Cost Code" formControlName="costCode" [mdAutocomplete]="autoCostCode"
                           (focus)="openCostCodes()" >
                </md-input-container>
                <md-autocomplete #autoCostCode="mdAutocomplete" [displayWith]="displayCostCode">
                    <md-option *ngFor="let costCode of filteredCostCodes | async" (onSelectionChange)="costCodeSelected($event)"
                               [value]="costCode">
                        {{costCode.Code}} - {{costCode.Name}}
                    </md-option>
                </md-autocomplete>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <md-input-container class="form-field selected-employees-field">
                    <input type="text" mdInput placeholder="Employees" formControlName="employee" [mdAutocomplete]="autoEmployee"
                           (focus)="openEmployee()">
                </md-input-container>
                <md-autocomplete #autoEmployee="mdAutocomplete" [displayWith]="displayFormatted">
                    <md-option *ngFor="let employee of filteredEmployees | async" (onSelectionChange)="employeeSelected($event)"
                               [value]="employee">
                        {{employee.Number}} - {{employee.Name}}
                    </md-option>
                </md-autocomplete>
            </div>
            <div class="col-md-2 groupings">
                <label>select</label>
                <a (click)="selectAllEmployees()">All</a>
                <a (click)="clearEmployeeSelection()">None</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="enter-time-selected-employees" *ngIf="selectedEmployees.length > 0">
                    <div [ngClass]="getExpandContainer('enter-time-selected-employees-container')">
                        <div class="selected-header" (click)="toggleSelectedEmployees()">
                            <span class="selected-header-label expansion-title-regular">{{selectedEmployees.length}} employees selected</span>
                            <i [ngClass]="getExpandIcon()">keyboard_arrow_up</i>
                        </div>
                        <div [ngClass]="getExpandContainer('selected-employee-list')">
                            <md-chip-list>
                                <md-chip *ngFor="let employee of selectedEmployees" (click)="removeEmployee(employee)">
                                    <span>{{employee.Number}} - {{employee.Name}}</span>
                                    <i class="mdi mdi-close-circle"></i>
                                </md-chip>
                            </md-chip-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12" >
                <div esubCloseDateFlyout>
                    <md-input-container class="form-field dates">
                        <md-placeholder>
                            <span class="enter-time-date-placeholder">Dates</span> <i class="material-icons">date_range</i>
                        </md-placeholder>
                        <input mdInput id="txtDates" formControlName="dates" (focus)="onFocus()" (keydown)="clearKeystroke($event)">
                    </md-input-container>
                    <esub-daypicker-flyout [daypickerConfig]="dpDatepickerConfig" [selectedDates]="selectedDates"
                                           (selectedDatesChange)="onDatesChanged($event)" ></esub-daypicker-flyout>
                </div>
            </div>
        </div>

        <div class="row mb-2" class="time-entry-method">
            <div class="col-md-12" *ngIf="!isTimeIn">
                <span class="label-bold">Hours Worked</span>

                <div class="row hours-entry form-field">
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="ST" formControlName="standardHours">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="OT" formControlName="overtimeHours">
                        </md-input-container>
                    </div>
                    <div class="col-md-2">
                        <md-input-container>
                            <input mdInput placeholder="DT" formControlName="doubleTimeHours">
                        </md-input-container>
                    </div>
                </div>

            </div>
            <div class="col-md-12" *ngIf="isTimeIn">
                <div class="row">
                    <div class="col-md-2">
                        <span class="label-bold">Time In</span>

                        <div class="row time-entry">
                            <md-input-container class="form-field">
                                <input mdInput type="time" formControlName="timeIn">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Time Out</span>
                        <div class="row time-entry">
                            <md-input-container class="form-field">
                                <input mdInput type="time" formControlName="timeOut">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-2 offset-1">
                        <span class="label-bold">Break Time In</span>

                        <div class="row time-entry">
                            <md-input-container class="form-field">
                                <input mdInput type="time" formControlName="breakIn">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Break Time Out</span>

                        <div class="row time-entry">
                            <md-input-container class="form-field">
                                <input mdInput type="time" formControlName="breakOut">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1 mb-3">
            <div class="col-md-12">
                <md-input-container class="notes form-field">
                    <input mdInput placeholder="Notes" formControlName="notes">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 esub-button-group">
                <button md-raised-button type="button" class="primary" [disabled]="enterTimeForm.pristine" (click)="clearForm()">Clear form</button>
            </div>
            <div class="col-md-6 esub-button-group">
                <button md-raised-button type="submit" class="secondary" [disabled]="enterTimeForm.invalid">Create {{linesToAddCount()}} time entries</button>
            </div>
        </div>

    </form>

</div>
