<div class="enter-time-form">
    <form [formGroup]="enterTimeForm" (ngSubmit)="createLines(enterTimeForm)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Project" formControlName="project">
                    <md-option *ngFor="let project of projects" [value]="project">{{project.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row" *ngIf="systems.length > 0">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="System" formControlName="system">
                    <md-option *ngFor="let system of systems" [value]="system">{{system.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row" *ngIf="phases.length > 0">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Phase" formControlName="phase">
                    <md-option *ngFor="let phase of phases" [value]="phase">{{phase.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <md-select class="form-field" placeholder="Cost Code" formControlName="costCode">
                    <md-option *ngFor="let costCode of costCodes" [value]="costCode">{{costCode.Name}}</md-option>
                </md-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <md-select class="employee-select form-field" placeholder="Employees" formControlName="employees" multiple
                           #select="mdSelect">
                    <md-option *ngFor="let employee of employees" [value]="employee" >{{employee.FullName}}</md-option>
                </md-select>
            </div>
            <div class="col-md-2 groupings">
                <label>select</label>
                <a (click)="selectAllEmployees()">All</a>
                <a (click)="selectNoneEmployees()">None</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" >
                {{isCalendarDisplayed}}
                <div esubCloseDateFlyout>
                    <md-input-container class="form-field dates">
                        <input mdInput id="txtDates" placeholder="Dates" formControlName="dates">
                    </md-input-container>
                    <esub-daypicker-flyout #enterTimeDaypicker [daypickerConfig]="dpDatepickerConfig"
                                           [selectedDates]="linesToAdd.selectedDates" (selectedDatesChange)="onDatesChanged($event)" ></esub-daypicker-flyout>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<div class="form-field">-->

                <!--</div>-->

            <!--</div>-->

            <!--<div class="col-md-4">-->
                <!--<div class="row" *ngFor="let date of linesToAdd.selectedDates">-->
                    <!--<div class="col-md-6">{{date.format(dateFormat)}}</div>-->
                    <!--<div class="col-md-1"><i class="material-icons" (click)="removeDate(date)">delete</i></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row" [ngSwitch]="linesToAdd.project?.timeEntryMethod" class="time-entry-method">
            <div class="col-md-12" *ngSwitchCase="'hoursWorked'">
                <label>Time Entry Method</label> Hours Worked

                <div class="row time-entry">
                    <md-input-container>
                        <input mdInput placeholder="ST" formControlName="standardHours">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="OT" formControlName="overtimeHours">
                    </md-input-container>

                    <md-input-container>
                        <input mdInput placeholder="DT" formControlName="doubleTimeHours">
                    </md-input-container>
                </div>

            </div>
            <div class="col-md-12" *ngSwitchCase="'timeInTimeOut'">
                <div class="row">
                    <div class="col-md-2">
                        <span class="label-bold">Time In</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="linesToAdd.timeInTimeOut.in" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Time Out</span>
                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="linesToAdd.timeInTimeOut.out" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2 offset-1">
                        <span class="label-bold">Break Time In</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="linesToAdd.break.in" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="label-bold">Break Time Out</span>

                        <div class="row time-entry">
                            <dp-time-select [(ngModel)]="linesToAdd.break.out" [ngModelOptions]="{standalone: true}"
                                            [config]="dpTimeConfig" [theme]="'dp-material'"></dp-time-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <md-input-container class="notes form-field">
                    <input mdInput placeholder="Notes" formControlName="notes">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 esub-button-group">
                <button md-raised-button type="submit" class="secondary" [disabled]="enterTimeForm.invalid">Create {{linesToAddCount()}} time entries</button>
            </div>
        </div>


        <span>{{enterTimeForm.valid}}</span>
    </form>

</div>
