<div class="notification-item" (click)="navigateToAction($event)">
    <div class="row">
        <div class="col-md-11 no-padding notification-text">
            <div class="notification-title">
                <span class="label-bold">{{notification.Title}}</span>
            </div>
            <div class="notification-instruction">
                <span class="accent-bold">{{notification.ActionText}}</span>
            </div>
        </div>
        <div class="col-md-1 no-padding notification-icon">
            <img src="../../../assets/images/{{notification.Icon}}" />
        </div>
    </div>
</div>
