.app-header {

  // profile icon specific styling, overrides some defs from _md
  li.profile-icon {

    margin-left: 30px;
    margin-right: 30px;

    // tighten header buttons as width decreases
    @media (max-width: $l_screen_xs_max) {
      margin-left: 20px;
      margin-right: 20px;
    }
    @media(max-width: $l_screen_xxs_max) {
      margin-left: 0;
      margin-right: 10px;
    }

    .md-button {
      margin: -3px 15px 0 15px !important;

      .mat-button-focus-overlay,
      .mat-button-ripple {
        margin-bottom: -3px !important;
        margin-right: -12px;
      }
    }

    .chevron-holder {
      position: absolute;
      top: 0;
      left: 45px;

      i {
        position: relative;
        @include rotate(90deg);
        vertical-align: middle;
      }
    }
  }

  // notifications icon background/shadow specific styling
  li.notification-icon {

    button.md-button {
      padding-top: 10px;
      box-shadow: 1px 0px 5px 2px rgba($true-black, 0.5);
      border: solid 2px $true-white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      background-color: $yellow-40;
      min-width: 70px;

      .material-icons,
      .header-btn-label > label {
        margin-top: -20px;
      }
    }

    // overlay overrides for notification-icon
    .mat-button-focus-overlay,
    .mat-button-ripple {
      margin-bottom: 0 !important;
    }


    // notification icon
    .notifications-counter {
      > span {
        display: block;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        color: $true-white;
        background-color: $black;
        @extend .title-bold;
        margin-top: -5px;
        font-size: 20px;
        line-height: 21px;
      }
    }
  }

  .top-nav-right .material-icons {
    color: $black;
  }
}
