// Flexbox

@mixin flex() {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flex-direction($direction) {
  -ms-flex-direction: $direction;      /* TWEENER - IE 10 */
  -webkit-flex-direction: $direction;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: $direction;          /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin align-items($align) {
  -ms-align-items: $align;      /* TWEENER - IE 10 */
  -webkit-align-items: $align;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  align-items: $align;          /* NEW, Spec - Firefox, Chrome, Opera */
}
