$orangey-yellow: #fcb712;
$tomato: #eb4343;
$black-60: rgba(0, 0, 0, 0.6);
$black: #333333;
$warm-grey: #929292;
$butterscotch: #ffc63b;
$white: #f4f4f4;
$frog-green: #31c40a;
$dark-sky-blue: #2094de;
$black-10: rgba(51, 51, 51, 0.1);
$black-25: rgba(51, 51, 51, 0.25);
