h1 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: $black;
}

h1 {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: $black;
}

h2 {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	color: $black;
}

h3 {
	font-family: Roboto;
	font-size: 10.5px;
	font-weight: 300;
	color: $black;
}

h3 {
	font-family: Roboto;
	font-size: 10.5px;
	font-weight: 300;
	color: $black;
}

.title-bold {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.calendar-days {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.calendar-days-blocked {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.title-bold {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.calendar-days-blocked {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.calendar-days {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: bold;
	text-align: center;
	color: $black;
}

.cell-title {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: 500;
	color: #030303;
}

.title-reg {
	font-family: Roboto;
	font-size: 8.5px;
	text-align: center;
	color: $black;
}

.title-reg {
	font-family: Roboto;
	font-size: 8.5px;
	text-align: center;
	color: $black;
}

.title-light {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: 300;
	text-align: center;
	color: $black;
}

.title-light {
	font-family: Roboto;
	font-size: 8.5px;
	font-weight: 300;
	text-align: center;
	color: $black;
}

.cell-copy {
	font-family: Roboto;
	font-size: 7.5px;
	color: #8f8e94;
}

.cell-subtitle {
	font-family: Roboto;
	font-size: 7.5px;
	color: $black;
}

.cell-copy {
	font-family: Roboto;
	font-size: 7.5px;
	color: #8f8e94;
}

.comment-detail {
	font-family: Roboto;
	font-size: 7px;
	font-weight: bold;
	color: $warm-grey;
}

.cell-description {
	font-family: SFUIText;
	font-size: 6.5px;
	letter-spacing: -0px;
	color: #6d6d72;
}

.small-titles {
	font-family: Roboto;
	font-size: 6px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: center;
	color: $black;
}

.small-titles {
	font-family: Roboto;
	font-size: 6px;
	font-weight: bold;
	letter-spacing: 0.2px;
	text-align: center;
	color: $black;
}

.nav-subtitle {
	font-family: Roboto;
	font-size: 6px;
	text-align: center;
	color: #000000;
}

.tab-bar-text {
	font-family: Roboto;
	font-size: 5px;
	font-weight: 500;
	letter-spacing: 0.1px;
	text-align: center;
	color: $black;
}
