<section class="trackpoint-header">
    <div class="trackpoint-header-inner"
         [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-tp-color-esub': AppConfig.colorOption === '31',
                     'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

        <div class="brand ">
            <h2><a (click)="navigateHome()"><img class="logo-img" src="assets/images/e.png" height="23" width="23" alt="{{AppConfig.brand}}"/></a></h2>
        </div>

        <div class="top-nav-left">
            <ul class="list-unstyled float-left">
                <li class="list-inline-item" *ngIf="tenant">
                    <button md-button class="md-button header-btn" [mdMenuTriggerFor]="timeMenu">
                        Time
                    </button>
                    <md-menu #timeMenu="mdMenu" [overlapTrigger]="false" class="tp-menu">
                        <button md-menu-item [routerLink]="['/time/enter']">
                            <span>Enter Time</span>
                        </button>
                        <button md-menu-item [routerLink]="['/time/timesheets']">
                            <span>Timesheet Log</span>
                        </button>
                        <button md-menu-item [routerLink]="['/time/settings']">
                            <span>Time Settings</span>
                        </button>
                    </md-menu>
                </li>
                <li class="list-inline-item" *ngIf="tenant">
                    <button md-button class="md-button header-btn" [mdMenuTriggerFor]="utilitiesMenu">
                        Utilities
                    </button>
                    <md-menu #utilitiesMenu="mdMenu" [overlapTrigger]="false" class="tp-menu">
                        <button md-menu-item [routerLink]="['/time/approve-time']" *ngIf="permissions?.TimeRecords.Approve">
                            <span>Approve Timecards</span>
                        </button>
                    </md-menu>
                </li>
                <li class="list-inline-item" *ngIf="tenant">
                    <button md-button class="md-button header-btn">
                        Reports
                    </button>
                </li>
            </ul>
        </div>

        <div class="top-nav-right">
            <ul class="list-unstyled float-right">
                <li class="list-inline-item notification-icon" *ngIf="tenant">
                    <button id="notifications" md-button class="header-notification-btn"
                            esubClickClose [elementClickHandler]="openNotifications" [outsideClickHandler]="closeNotifications"
                            [clickHandlerParam]="notificationCount">
                        <img class="notification-bell" src="assets/images/notification-bell.svg" height="23" width="24" alt="Notifications"/>
                        <span [ngClass]="{'notification-count': notificationCount === '9+' , 'notification-count-small': notificationCount !== '9+'}">{{notificationCount}}</span>
                    </button>
                    <esub-popover></esub-popover>
                </li>
                <li class="profile-icon header-sticky" *ngIf="tenant">
                    <button md-button class="profile-btn" [mdMenuTriggerFor]="profileMenu">
                        {{fullName}}
                        <i class="material-icons">expand_more</i>
                    </button>
                    <md-menu #profileMenu="mdMenu" [overlapTrigger]="false" class="tp-menu">
                        <button md-menu-item (click)="logout()">
                            <img class="logout" src="assets/images/logout.svg" height="12" width="12" alt="Logout"/>
                            <span>Logout</span>
                        </button>
                    </md-menu>
                </li>
            </ul>
        </div>

    </div>
</section>

