<div class="container-fluid no-breadcrumbs project-selection">
    <div class="row">
        <div class="col-md-6">
            <md-button-toggle-group multiple #group="mdButtonToggleGroup">
                <md-button-toggle value="status" *ngFor="let status of _statuses" [checked]="status.IsSelected"
                                  (change)="selectStatusFilter(status)">
                    <span>{{status.Value}}</span>
                </md-button-toggle>
            </md-button-toggle-group>
        </div>
        <div class="col-md-6 text-right">
            <md-input-container class="project-selection-search" floatPlaceholder="never">
                <md-icon mdPrefix>search</md-icon>
                <md-placeholder> Search projects</md-placeholder>
                <input mdInput type="search" class="">
            </md-input-container>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 text-right project-selection-create">
            <button md-raised-button class="esub-button secondary" (click)="createProject()">Create Project</button>
        </div>
    </div>
    <!--<div class="row project-selection-filter-row">-->

        <!--<div class="col-md-8">-->

        <!--</div>-->

        <!--<div class="col-md-4 groupings">-->
            <!--<label>Group by</label>-->
            <!--<a class="active"></a> <a></a>-->
            <!--<label>Show</label>-->
            <!--<a class="active"></a> <a></a>-->
        <!--</div>-->

    <!--</div>-->
    <div *ngFor="let project of filteredProjects" >
        <esub-project-selection-card [project]="project"></esub-project-selection-card>
    </div>

</div>
