<div class="container-fluid no-breadcrumbs project-selection">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <md-button-toggle-group multiple #group="mdButtonToggleGroup">
                <md-button-toggle value="status" *ngFor="let status of _statuses" [checked]="status.IsSelected"
                                  (change)="selectStatusFilter(status)">
                    <span>{{status.Value}}</span>
                </md-button-toggle>
            </md-button-toggle-group>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3 col-xs-12 text-right project-selection-create">
            <button md-raised-button class="esub-button secondary" (click)="createProject()">Create Project</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <md-input-container class="project-selection-search" floatPlaceholder="never">
                <md-icon mdPrefix>search</md-icon>
                <md-placeholder> Search projects</md-placeholder>
                <input mdInput type="search">
            </md-input-container>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-5">
            <div class="project-sort text-right">
                <span class="label-bold">Sort&#58;</span>
                <a *ngFor="let sortItem of _sortColumns" [ngClass]="{ 'active': sortItem.IsSelected }"
                    (click)="sortProjects(sortItem)">
                    {{sortItem.Value}}
                    <i *ngIf="sortItem.IsDescending && sortItem.IsSelected" class="sort-icon material-icons">keyboard_arrow_down</i>
                    <i *ngIf="!sortItem.IsDescending && sortItem.IsSelected" class="sort-icon material-icons">keyboard_arrow_up</i>
                </a>
            </div>
        </div>
    </div>
    <div *ngFor="let project of filteredProjects" >
        <esub-project-selection-card [project]="project"></esub-project-selection-card>
    </div>

</div>
