<md-dialog-content>

    <!--<div *ngIf="displayData.projectTitle">-->
    <!--<h5>{{displayData.projectTitle}}</h5>-->
    <!--<h3> {{displayData.projectText}}</h3>-->
    <!--</div>-->
    <!--<h5>{{displayData.costCodeTitle}}</h5>-->
    <!--<h3>{{displayData.costCodeText}}</h3>-->
    <!--<h5>Employee</h5>-->
    <!--<h3>{{displayData.employeeText}}</h3>-->
    <!--<h5>Status</h5>-->
    <!--<h3>{{displayData.statusText}}</h3>-->
    <!--<h5>Hours</h5>-->
    <!--<h3>{{displayData.totalHoursText}}</h3>-->
    <div class="enter-time-form">
        <form [formGroup]="enterTimeForm" (ngSubmit)="onSubmit(enterTimeForm)" novalidate>

            <div class="row" *ngIf="showProjectView | async">
                <div class="col-md-12">
                    <md-form-field class="form-field">
                        <input
                            type="text"
                            mdInput placeholder="Project"
                            formControlName="project"
                            [mdAutocomplete]="autoProject"
                            (focus)="projectsTypeAheadHasFocus($event.target.value)"
                            [id]="'txtFormProject'"
                        >
                    </md-form-field>
                    <md-autocomplete #autoProject="mdAutocomplete"
                                     [displayWith]="entityFormatter.displayFormatted"
                                     (optionSelected)="projectWasSelected($event)">
                        <md-option *ngFor="let project of filteredProjects | async" [value]="project">
                            {{project.Number}} - {{project.Name}}
                        </md-option>
                    </md-autocomplete>
                </div>
            </div>

            <div class="row" *ngIf="showSystemView | async">
                <div class="col-md-12">
                    <md-form-field class="form-field">
                        <input
                            type="text"
                            mdInput placeholder="System"
                            formControlName="system"
                            [mdAutocomplete]="autoSystem"
                            (focus)="systemTypeAheadHasFocus($event.target.value)"
                            [id]="'txtFormSystem'"
                        >
                    </md-form-field>
                    <md-autocomplete #autoSystem="mdAutocomplete"
                                     [displayWith]="entityFormatter.displayFormatted"
                                     (optionSelected)="systemWasSelected($event)">
                        <md-option *ngFor="let system of filteredSystems | async" [value]="system">
                            {{system.Number}} - {{system.Name}}
                        </md-option>
                    </md-autocomplete>
                </div>
            </div>

            <!--// TODO: Systems and Phases-->

            <div class="row" *ngIf="showIndirectCostView | async">
                <div class="col-md-12">
                    <md-form-field class="form-field">
                        <input type="text"
                               mdInput
                               placeholder="{{displayData.costCodeTitle}}"
                               formControlName="indirectCostCode"
                               [mdAutocomplete]="autoIndirectCostCode"
                               (focus)="indirectCostCodesTypeAheadHasFocus($event.target.value)"
                               [id]="'txtFormIndirectCost'"
                        >
                    </md-form-field>
                    <md-autocomplete #autoIndirectCostCode="mdAutocomplete"
                                     [displayWith]="entityFormatter.displayIndirectCostCode"
                                     (optionSelected)="indirectCostCodeWasSelected($event)"
                    >
                        <md-option *ngFor="let indirectCostCode of filteredIndirectCostCodes | async" [value]="indirectCostCode">
                            {{indirectCostCode.Code}} - {{indirectCostCode.Description}}
                        </md-option>
                    </md-autocomplete>
                </div>
            </div>

            <div class="row" *ngIf="timeRecord.CostCode">
                <div class="col-md-12">
                    <md-form-field class="form-field">
                        <input type="text"
                               mdInput
                               placeholder="{{displayData.costCodeTitle}}"
                               formControlName="costCode"
                               [mdAutocomplete]="autoCostCode"
                               (focus)="costCodesTypeAheadHasFocus($event.target.value)"
                               [id]="'txtFormCostCode'"
                        >
                    </md-form-field>
                    <md-autocomplete #autoCostCode="mdAutocomplete"
                                     [displayWith]="entityFormatter.displayCostCode"
                                     (optionSelected)="costCodeWasSelected($event)"
                    >
                        <md-option *ngFor="let costCode of filteredCostCodes | async" [value]="costCode">
                            {{costCode.Code}} - {{costCode.Name}}
                        </md-option>
                    </md-autocomplete>
                </div>
            </div>
        </form>
    </div>


</md-dialog-content>

<md-dialog-actions align="end">
    <button md-button (click)="close()">Cancel</button>
    <button md-button (click)="save()">Save</button>
</md-dialog-actions>
