<md-dialog-content>

    <div class="row">
        <form [formGroup]="enterTimeForm" (ngSubmit)="didTapSaveButton(enterTimeForm)" novalidate>

        <div class="enter-time-form col-md-8">

            <h3>Time Record Detail</h3>


                <div class="row" *ngIf="showProjectView | async">
                    <div class="col-md-12">
                        <md-form-field class="form-field">
                            <input
                                type="text"
                                mdInput placeholder="Project"
                                formControlName="project"
                                [mdAutocomplete]="autoProject"
                                [id]="'txtFormProject'"
                            >
                        </md-form-field>
                        <md-autocomplete #autoProject="mdAutocomplete"
                                         [displayWith]="entityFormatter.displayFormatted"
                                         (optionSelected)="projectWasSelected($event)">
                            <md-option *ngFor="let project of filteredProjects | async" [value]="project">
                                {{project.Number}} - {{project.Name}}
                            </md-option>
                        </md-autocomplete>
                    </div>
                </div>

                <div class="row" *ngIf="showSystemView | async">
                    <div class="col-md-12">
                        <md-form-field class="form-field">
                            <input
                                type="text"
                                mdInput placeholder="System"
                                formControlName="system"
                                [mdAutocomplete]="autoSystem"
                                [id]="'txtFormSystem'"
                            >
                        </md-form-field>
                        <md-autocomplete #autoSystem="mdAutocomplete"
                                         [displayWith]="entityFormatter.displayFormatted"
                                         (optionSelected)="systemWasSelected($event)">
                            <md-option *ngFor="let system of filteredSystems | async" [value]="system">
                                {{system.Number}} - {{system.Name}}
                            </md-option>
                        </md-autocomplete>
                    </div>
                </div>

                <div class="row" *ngIf="showPhaseView | async">
                    <div class="col-md-12">
                        <md-form-field class="form-field">
                            <input
                                type="text"
                                mdInput placeholder="Phase"
                                formControlName="phase"
                                [mdAutocomplete]="autoPhase"
                                [id]="'txtFormPhase'"
                            >
                        </md-form-field>
                        <md-autocomplete #autoPhase="mdAutocomplete"
                                         [displayWith]="entityFormatter.displayFormatted"
                                         (optionSelected)="phaseWasSelected($event)">
                            <md-option *ngFor="let phase of filteredPhases | async" [value]="phase">
                                {{phase.Number}} - {{phase.Name}}
                            </md-option>
                        </md-autocomplete>
                    </div>
                </div>

                <div class="row" *ngIf="showIndirectCostView | async">
                    <div class="col-md-12">
                        <md-form-field class="form-field">
                            <input type="text"
                                   mdInput
                                   placeholder="Cost Code"
                                   formControlName="indirectCostCode"
                                   [mdAutocomplete]="autoIndirectCostCode"
                                   [id]="'txtFormIndirectCost'"
                            >
                        </md-form-field>
                        <md-autocomplete #autoIndirectCostCode="mdAutocomplete"
                                         [displayWith]="entityFormatter.displayIndirectCostCode"
                                         (optionSelected)="indirectCostCodeWasSelected($event)"
                        >
                            <md-option *ngFor="let indirectCostCode of filteredIndirectCostCodes | async" [value]="indirectCostCode">
                                {{indirectCostCode.Code}} - {{indirectCostCode.Description}}
                            </md-option>
                        </md-autocomplete>
                    </div>
                </div>

                <div class="row" *ngIf="showCostCodeView">
                    <div class="col-md-12">
                        <md-form-field class="form-field">
                            <input type="text"
                                   mdInput
                                   placeholder="Cost Code"
                                   formControlName="costCode"
                                   [mdAutocomplete]="autoCostCode"
                                   [id]="'txtFormCostCode'"
                            >
                        </md-form-field>
                        <md-autocomplete #autoCostCode="mdAutocomplete"
                                         [displayWith]="entityFormatter.displayCostCode"
                                         (optionSelected)="costCodeWasSelected($event)"
                        >
                            <md-option *ngFor="let costCode of filteredCostCodes | async" [value]="costCode">
                                {{costCode.Code}} - {{costCode.Name}}
                            </md-option>
                        </md-autocomplete>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <span class="label-bold">Hours Worked</span>

                        <div class="row hours-entry">
                            <div class="col-md-2">
                                <md-form-field>
                                    <input mdInput type="number" placeholder="ST" formControlName="standardHours"
                                           maxlength="5" step="0.25" min="0" max="24" [id]="'txtFormST'">
                                </md-form-field>
                            </div>
                            <div class="col-md-2">
                                <md-form-field>
                                    <input mdInput type="number" placeholder="OT" formControlName="overtimeHours"
                                           maxlength="5" step="0.25" min="0" max="24" [id]="'txtFormOT'">
                                </md-form-field>
                            </div>
                            <div class="col-md-2">
                                <md-form-field>
                                    <input mdInput type="number" placeholder="DT" formControlName="doubleTimeHours"
                                           maxlength="5" step="0.25" min="0" max="24" [id]="'txtFormDT'">
                                </md-form-field>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

        <div class="col-md-4">

            <h3>Comments</h3>

            <div formArrayName="comments" class="well well-lg">

                <div *ngFor="let comment of commentsFormArray.controls; let i = index" [formGroupName]="i">

                    <md-card>

                        <md-card-title>
                            Comment Title
                        </md-card-title>

                        <md-card-subtitle>
                            Comment subtitle
                        </md-card-subtitle>

                        <md-card-content>
                            Comment content
                        </md-card-content>

                    </md-card>

                </div>

            </div>

        </div>
        </form>

    </div>

</md-dialog-content>

<md-dialog-actions align="end">
    <md-spinner *ngIf="loading"></md-spinner>
    <button md-button (click)="didTapCancelButton()">Cancel</button>
    <button md-button (click)="didTapSaveButton()">Save</button>
</md-dialog-actions>
