<h2 md-dialog-title>{{title}}</h2>
<md-dialog-content>

    <div *ngIf="timeRecordData.projectTitle">
    <h5>{{timeRecordData.projectTitle}}</h5>
        {{timeRecordData.projectText}}
    </div>
    <h5>{{timeRecordData.costCodeTitle}}</h5>
        {{timeRecordData.costCodeText}}
    <h5>Employee</h5>
        {{timeRecordData.employeeText}}
    <h5>Status</h5>
        {{timeRecordData.statusText}}
    <h5>Hours</h5>
        {{timeRecordData.totalHoursText}}

</md-dialog-content>

<md-dialog-actions align="end">
    <button md-button (click)="close()">Cancel</button>
    <button md-button (click)="save()">Save</button>
</md-dialog-actions>
